.mainHeader {
  background: #1c1c1c;
  color: #bbb;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0px;
}
.myNotes {
  font-size: 23px;
  margin: 10px;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}
.input {
  width: 300px;
  height: 35px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #333;
  color: #ccc;
  animation: fadeIn 0.5s ease;
}
.searchIcon {
  width: 50px;
  height: 35px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  color: #ccc;
}
.searchIcon:active {
  border: 1px solid #ccc;
}
.input:focus {
  border: 1px solid #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 400px) {
  .input {
    width: 250px;
  }
  .myNotes {
    font-size: 19px;
  }
}
